﻿body {
    font-family: 'Segoe UI', sans-serif;
    font-size: 11px;
    color: darkgray;
    background-color: black;
    text-align: center;
}

div {
     max-width: 800px;
     margin-left:auto;
     margin-right:auto;
}

span {
    margin-left: 20px
}

a {
    color: darkgray;
}
